.feedback {
  height: 100%;
  border-radius: 10px;
  background-color: #000;
  padding: 2em 1em;
  color: $white;
  font-weight: 300;
  text-align: center;
  line-height: 1.3;

  &__avatar {
    width: 135px;
    max-width: 50%;
    background-color: $white;
    border-radius: 50%;
    border: 4px solid #000;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 3px 15px rgba(#fff, 0.3);

    &::before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  &__name {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 3em 0 0.5em;
  }

  &__pos {
    font-size: 13px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 12px;
    margin-top: 1em;
    text-align: justify;
  }
}

.solution {
  font-size: 1rem;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
  }

  &__content {
    position: absolute;
    bottom: 60px;
    left: 100px;
  }

  &__label {
    font-size: 30px;
    font-weight: 300;
    color: $white;
    line-height: 1.2;
    text-transform: uppercase;
    text-shadow: -1px 2px 2px rgba(#000, 0.5);
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    color: $white;
    text-shadow: -2px 4px 4px rgba(#000, 0.5);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__desc {
    color: $white;
    text-transform: uppercase;
    max-width: 50%;
    margin: 0 0 16px;
  }

  @include media-breakpoint-down(xl) {
    &__content {
      left: 20px;
      bottom: 20px;
    }

    &__label {
      font-size: 24px;
    }

    &__title {
      font-size: 24px;
    }

    &__desc {
      display: none;
    }
  }

  @include media-breakpoint-down(lg) {
    &__content {
      left: 0;
      bottom: 0;
    }

    @include media-breakpoint-down(lg) {
      .button {
        background: 0;
        padding: 0;
        border: 0;

        span,
        i {
          padding: 0;
          background: 0;
        }

        i {
          margin-left: 8px;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__content {
      bottom: 6px;
    }

    &__label {
      font-size: 14px;
    }

    &__title {
      font-size: 14px;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }

    .button {
      font-size: 12px;
    }
  }
}

.card-1 {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  line-height: 1.3;
  color: $white;

  &__frame {
    @include frame("rect", 53%);
  }

  &__content {
    width: 100%;
    height: auto;
    padding: 8px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    &::before {
      content: "";
      display: block;
      width: 80%;
      height: 100%;
      background: linear-gradient(
        to right,
        $blue-darker,
        $blue-darker,
        transparent
      );
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  &__label {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__name {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  @include media-breakpoint-down(xl) {
    &__label {
      font-size: 10px;
    }

    &__name {
      font-size: 12px;
    }
  }
}

.card-2 {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.4s;

  &:hover {
    @include shadow("blue");
  }

  &__frame {
    @include frame("rect", 50%);
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 3.5em;
    background-color: $blue-darker;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;

    span {
      @include text-gradient;
    }
  }

  @include media-breakpoint-down(lg) {
    &__title {
      font-size: 12px;
    }
  }

  @include media-breakpoint-down(sm) {
    border-radius: 8px;
  }
}

.button {
  display: inline-flex;
  border: 1px solid #09c6ff;
  border-radius: 2px;
  color: $white;
  font-size: 1rem;
  font-weight: 300;

  &:hover {
    color: $white;
  }

  span {
    display: inline-block;
    padding: 1em 2em;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background: #121c4d;
      transform: rotateY(90deg);
      transform-origin: right;
      transition: 0.4s ease-out;
    }
  }

  &:hover span::before {
    transform: rotateY(0deg);
  }

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 1.5em;
    background-color: #121c4d;
  }

  @include media-breakpoint-down(xl) {
    span {
      padding: 8px 16px;
    }

    i {
      padding: 8px 16px;
    }
  }
}

.project {
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  color: $white;

  &__frame {
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.4s;
  }

  &__rect {
    @include frame("rect", 135%);
    border-radius: 8px;
  }

  &__title {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 1rem;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 1.25em;
    margin-top: 4px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 10px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 8px;

    &__title {
      margin-top: 8px;
    }
  }
}

.member {
  text-align: center;
  color: $white;
  text-transform: uppercase;

  &__avatar {
    width: 250px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid #000;
    box-shadow: 0 2px 10px rgba($purple, 0.8);
    background-color: #fff;

    &::before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  &__name {
    font-size: 1.25em;
    font-weight: 700;
    margin-top: 16px;

    span {
      @include text-gradient;
    }
  }

  @include media-breakpoint-down(xxl) {
    &__avatar {
      width: 200px;
    }
  }

  @include media-breakpoint-down(xl) {
    font-size: 12px;

    &__avatar {
      width: 120px;
    }

    &__name {
      margin-top: 8px;
    }
  }

  @include media-breakpoint-down(md) {
    font-size: 10px;

    &__name {
      font-size: 13px;
    }
  }
}

.n-video {
  position: relative;
  z-index: 1;
  transition: 0.4s;

  &::before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.2);
    transition: 0.4s;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    &:hover {
      background-color: rgba(#000, 0.45);
    }

    img {
      height: 18%;
    }
  }
}
