.footer {
  padding: 70px 0 2em;
  line-height: 1.4em;
  color: $white;

  &__logo {
    display: inline-flex;
    margin-bottom: 1em;

    img {
      height: 6.25em;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 5fr 4fr 3fr 3fr;
    grid-gap: 2em 4em;
  }

  &__heading {
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 1em;
  }

  &__content {
    font-weight: 300;
    max-width: 250px;

    a {
      color: $white;
    }

    a:hover {
      color: $white;
      opacity: 0.8;
    }
  }

  &__end {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 4em;
    gap: 1em;
  }

  &__copyright {
    font-weight: 300;
  }

  @include media-breakpoint-down(xl) {
    &__grid {
      grid-template-columns: 5fr 4fr 4fr 3fr;
      grid-gap: 2em;
    }
  }

  @include media-breakpoint-down(lg) {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
    }

    &__col {
      &:first-child {
        grid-column: span 3;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__grid {
      grid-template-columns: 1fr;
    }

    &__col {
      &:first-child {
        grid-column: span 1;
      }
    }
  }
}

.f-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    color: $white;
    font-weight: 300;

    &:hover {
      color: $white;
      opacity: 0.8;
    }
  }
}

.f-social {
  display: flex;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    background-color: $white;
    border-radius: 50%;
    color: #020322;

    &:hover {
      color: #020322;
      opacity: 0.8;
    }

    &:not(:last-child) {
      margin-right: 6px;
    }
  }
}
