.post {
  &__title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__info {
    color: #999;
    margin-bottom: 16px;
  }

  &__sapo {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 16px;
  }
}
